<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container" >
      <a class="navbar-brand" [routerLink]="['/home']">Chess Game</a>

      <ul class="navbar-nav mr-auto" *ngIf="loggedIn()">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/users']">Leaderboards</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/messages']">Messages</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/game']">Game</a>
          </li>
      </ul>
      <div *ngIf="loggedIn()" class="dropdown" style="z-index: 1080;" dropdown>
          <a class="dropdown-toggle text-light" dropdownToggle>  
          <span class="mr-1 img img-wrapper">
            <img src="../../assets/user.png" class="img img-thumbnail" alt="">
          </span>
          
            Welcome {{authService.decodedToken?.unique_name | titlecase}}
          </a>
        
          <div class="dropdown-menu" *dropdownMenu >
            <a class="dropdown-item" [routerLink]="['/user/edit']"><i class="fa fa-user"></i>Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"  (click)="logout()" ><i class="fa fa-sign-out"></i>Logout</a>
          </div>
        </div>
      <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
        <input class="form-control mr-sm-2" type="text" name="email" placeholder="Email" required [(ngModel)]="model.email">
        <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" required [(ngModel)]="model.password">
        <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0 mr-sm-2" type="submit">Login</button>
        <button class="btn btn-success my-2 my-sm-0" type="button" (click)="loginDemo()">Demo Login</button>
      </form>
  </div>
</nav>