<div class="container mt-3 border border-dark" style="max-height: 60vh; overflow-y: scroll;">
  <table class="table table-hover mt-3">
    <caption>
      Caption Information
    </caption>
    <thead class="thead-dark">
      <th scope="col">column name</th>
      <th scope="col">column name</th>
      <th scope="col">column name</th>
    </thead>
    <tbody>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : true}">
        <td>cat</td>
        <td>foo</td>
        <td>moo</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': true, 'table-success' : false}">
        <td>bar</td>
        <td>baz</td>
        <td>asdf</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>qwer</td>
        <td>zxcv</td>
        <td>dfgh</td>
      </tr>
      <tr scope="row" [ngClass]="{'table-danger': false, 'table-success' : false}">
        <td>erty</td>
        <td>tyui</td>
        <td>tyui</td>
      </tr>
  
    </tbody>
   </table>
</div>