<div class="card h-75">
  <div class="card-header text-white bg-primary">
    <h5>Move History</h5>
  </div>
  <div class="card-body container-fluid">
    <div *ngFor="let move of game.moves" class="row">
      From: {{move.startX}}, {{move.startY}} => To: {{move.endX}}, {{move.endY}}
      Piece:{{move.discriminator}} User: {{move.userId === game.whiteUser.id ? game.whiteUser.name : game.blackUser.name}}
    </div>
    <div *ngIf="game.moves?.length === 0" class="row">
      No Moves yet
    </div>
  </div>
</div>
