<div class="card h-75">
  <div class="card-header text-white bg-primary">
    <h5>Move History</h5>
  </div>
  <div class="card-body" style ="max-height: 60vh; overflow-y: scroll;" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <ul class="list-group">
      <li *ngFor="let move of game.moves" class="list-group-item" >
        <div class='w-100'>
          {{getUserForMove(move)}}'s <i [ngClass]="'fa fa-chess-' + move.pieceDiscriminator.toLowerCase()" alt=""></i> ( {{move.pieceDiscriminator}} )
        </div>
        <div class='w-100'>
          {{getXLocName(move.startX)}}{{getYLocName(move.startY)}} => {{getXLocName(move.endX)}}{{getYLocName(move.endY)}}
        </div>
      </li>
      <li *ngIf="game.moves?.length === 0" class="list-group-item">
        No Moves yet
      </li>
    </ul>
  </div>
</div>
