<div class="card mb-2 h-25">
  <div class="card-header text-white bg-primary">
    <h5>Game Controls</h5>
  </div>
  <div class="card-body fluid">
    <div class="btn-group">
      <button type="button" class="btn btn-success btn-sm mr-1" (click)="getNewGame()">New Game</button>
      <button class="btn btn-warning btn-sm mr-1 text-primary" [ngClass]="{invisible: !game}" (click)="requestDraw()">Request Draw</button>
      <button class="btn btn-danger btn-sm mr-1" [ngClass]="{invisible: !game}" (click)="concede()">Concede</button>
      <button type="button" [ngClass]="{invisible: !game}" class="btn btn-info btn-sm" [routerLink]="['/game']">Save & Quit</button>
    </div>
      
      <div class="card-text" *ngIf="game">
        <div>
          <span class="text-primary">Game Status: {{getStatusCodeText(game.statusCode)}}</span>
         </div>
         <div>
          <span class="text-sucess">Turn:</span> {{usersTurn()}}
         </div>
      </div>
  </div>
</div>