.checkerboard{
    margin: 0 auto; 
}
.board-tile{
    height: 80px;
    width: 80px;
    border: black solid 1px;
    float:left;
}
.board-tile:hover {
    border: tomato ridge 2px;
}

/*black squares */
.checkerboard > div:nth-child(2n-1) > div:nth-child(2n){
    background-color: #54320a;
}
.checkerboard > div:nth-child(2n) > div:nth-child(2n-1){
    background-color: #54320a;
}

/*white squares */
.checkerboard > div:nth-child(2n) > div:nth-child(2n){
    background-color: #e2d37f;
}
.checkerboard > div:nth-child(2n-1) > div:nth-child(2n-1){
    background-color: #e2d37f;
}
/*columns*/
.x-0{
    clear: left;
}

