<div class="checkerboard">
  <div *ngFor="let row of boardY;">
    <div *ngFor="let column of boardX;" class="board-tile x-{{column}} y-{{row}}">
      <app-game-board-square 
          [piece]='getPieceForXY(column, row)' 
          [game]='game'
          [x]='column' 
          [y]='row' 
          (pickUpPiece)="pickUpPiece($event)" 
          (putDownPiece)='putDownPiece($event)'>
        </app-game-board-square>
    </div>
  </div>
</div>
<!-- <button (click)="showMoves()" >show moves</button> -->